body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.box {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
    box-sizing: border-box;
    float: left;
    min-height: 200px;
    position: relative;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: orange;
    padding: 5px 10px;
    border: 1px solid black;
    font-weight: bold;
}

@media (min-width: 992px) {
    .box {
        width: 32%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box {
        width: 49%;
        float: left;
        margin: 0.5%;
    }

    .box3 {
        width: 100%;
        clear: both;
    }
}


@media (max-width: 767px) {
    .box {
        width: 100%;
        float: none;
    }
}
